@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dados pessoais";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Os dados da sua conta contém apenas dados que você nos forneceu. Aqui voce pode fazer o download deles:</p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <p style="margin-top: 1rem">
            <strong>Deletar seus dados irá resultar na remoção permanente da sua conta. Essa ação não poderá ser desfeita!</strong>
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Excluir dados e Deletar conta</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
