@model byte_hunt.Models.Contribuicao

@{
    ViewData["Title"] = "Editar Contribuição";
    <link rel="stylesheet" href="~/css/contribuicoes_create.css" asp-append-version="true" />
}

<div class="form-container-wide">
    <h1 class="text-center mb-4">Editar Contribuição</h1>
    <p class="text-center mb-4">Atualize os dados da contribuição selecionada.</p>

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="validation-summary-errors"></div>
        <input type="hidden" asp-for="Id" />

        <div class="form-group mb-3">
            <label asp-for="DetalhesContribuicao" class="form-label"></label>
            <textarea asp-for="DetalhesContribuicao" class="form-control"></textarea>
            <span asp-validation-for="DetalhesContribuicao" class="text-danger"></span>
        </div>
        

        <input type="submit" value="Guardar Alterações" class="btn-submit" />

        <a asp-action="Index" class="back-link">&larr; Voltar à lista</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}