/*bs purple*/
.btn-purple {
    background-color: #6f42c1;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}
.btn-purple:hover {
    background-color: #523291;
}

/*bs purple outline*/
.btn-purple-outline {
    color: #6f42c1;
    border: 2px solid #6f42c1;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.btn-purple-outline:hover {
    background-color: #6f42c1;
    color: #fff;
    border-color: #6f42c1;
}


/*light orange*/
.btn-light-orange {
    background-color: #ec9252;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}
.btn-light-orange:hover {
    background-color: #a35b26;
}

/*light orange outline*/
.btn-light-orange-outline {
    color: #ec9252;
    border: 2px solid #ec9252;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.btn-light-orange-outline:hover {
    background-color: #ec9252;
    color: #fff;
    border-color: #ec9252;
}