body {
    background-image: url('../images/background_byte_hunt.svg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.overlay-container {
    background-color: rgba(255, 255, 255, 1);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}