.background-image {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url('../images/background_byte_hunt.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    z-index: -1;
}

.form-card {
    background-color: rgba(255, 255, 255, 1);
    max-width: 600px;
}

.form-control, .form-select {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.form-control:focus, .form-select:focus {
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    border-color: #333;
}

