body {
    background-image: url('../images/background_byte_hunt.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.produto-card {
    max-width: 1000px;
    margin: auto;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.produto-img {
  
    height: 100%;
    width: 100%;
    max-height: 600px;
}

