@{
    ViewData["Title"] = "Política de Privacidade";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/pagina_pessoal.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
}
<div class="pp-fundo"></div>

<div class="container pp-container">
    <div class="container my-5">
        <h1 class="mb-4">Política de Privacidade</h1>

        <p><strong>ByteHunt</strong> é uma aplicação web desenvolvida exclusivamente para fins académicos, no âmbito da
            unidade curricular de <strong>Desenvolvimento Web</strong>, do curso de <strong>Engenharia
                Informática</strong> no <a href="https://portal2.ipt.pt/pt/cursos/licenciaturas/l_-_ei/" target="_blank"
                                           class="fw-semibold">Instituto Politécnico de Tomar</a>, durante o ano letivo
            <strong>2024/2025</strong>.</p>

        <p>Este projeto não tem fins comerciais nem está preparado para produção. Por este motivo, <strong>não se
                recomenda o uso de dados pessoais sensíveis</strong> (como números reais de identificação, emails
            pessoais, passwords reais, entre outros).</p>

        <p>Recomenda-se que todos os dados introduzidos pelos utilizadores devem ser fictícios ou genéricos. A equipa de desenvolvimento
            não se responsabiliza por qualquer perda ou fuga de informações inseridas.</p>

        <h4 class="mt-5">Reutilização de Código</h4>
        <p>Este projeto está disponibilizado com fins educativos e poderá ser reutilizado por terceiros de acordo com a
            <strong><a href="https://en.wikipedia.org/wiki/MIT_License" target="_blank" class="text-decoration-none">Licença
                    MIT</a></strong>.</p>
        <p>Resumidamente, a licença permite que qualquer pessoa utilize, modifique, distribua e até mesmo comercialize
            este software, desde que mantenha os avisos de copyright e a isenção de responsabilidade.</p>

        <p>
            <a href="https://github.com/Benquerer/byte-hunt" target="_blank" class="btn btn-outline-dark">
                Ver repositório no GitHub
            </a>
        </p>

        <p class="mt-4 text-muted"><em>Última atualização: junho de 2025</em></p>
    </div>
</div>