@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso NAegado!";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <h4 class="text-danger">Você não possui permissões suficientes para acessar esta página!</h4>
    <p>Se acreditas que deveria ter acesso, e algum erro ocorreu, entre em contato com o suporte.</p>
</header>
