@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmado!";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="mt-4">
    <p class="lead">Agora que sua conta está confirmada, faça sua autenticação e aproveite nossa aplicação ao maximo:</p>
    
    <div class="d-flex gap-3 mt-3">
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-success">Entrar</a>
    </div>
   
</div>