@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Mudança de Palavra-Passe enviada!";
    <link rel="stylesheet" href="~/css/fundo_container.css" asp-append-version="true"/>
}

<div class="vw-fundo"></div>
<div class="container vw-container">
    <h1>@ViewData["Title"]</h1>
    <p>
        Verifique seu email para alterar a Palavra-Passe.
    </p>
</div>