@page
@model RegisterModel
@{
    ViewData["Title"] = "Registar";

    <link rel="stylesheet" href="~/css/fundo_container.css" asp-append-version="true"/>
}

<div class="vw-fundo"></div>

<div class="container vw-container">
    <div class="d-flex justify-content-center mt-5">
        <div class="w-100" style="max-width: 420px;">
            <h1>Regista-te!</h1>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h3>Crie a sua nova conta agora:</h3>
                <hr/>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true"
                           placeholder="name@example.com"/>
                    <label asp-for="Input.UserName">Nome de Utilizador:</label>
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Nome" class="form-control" autocomplete="username" aria-required="true"
                           placeholder="name@example.com"/>
                    <label asp-for="Input.Nome">Nome:</label>
                    <span asp-validation-for="Input.Nome" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
                           placeholder="name@example.com"/>
                    <label asp-for="Input.Email">Email:</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password"
                           aria-required="true"
                           placeholder="password"/>
                    <label asp-for="Input.Password">Palavra-Passe:</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    
                    <i class="bi bi-info-circle-fill"
                       id="passwordInfo"
                       data-bs-toggle="popover"
                       data-bs-trigger="hover focus" 
                       data-bs-html="true"
                        data-bs-placement="right"
                        title="Requisitos da Palavra-Passe"
                       data-bs-content="
                        <ul style='padding-left: 1.5rem; margin: 0;'>
                            <li>Mínimo 6 caracteres</li>
                            <li>Pelo menos uma letra maiúscula (A-Z)</li>
                            <li>Pelo menos uma letra minúsculca (a-z)</li>
                            <li>Pelo menos um número (1-9)</li>
                            <li>Pelo menos um símbolo especial (!, @@, #, etc.)</li>
                        </ul>"
                        tabindex="0"
                        style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;"></i>

                    
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password"
                           aria-required="true" placeholder="password"/>
                    <label asp-for="Input.ConfirmPassword">Confime a Palavra-Passe:</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registar</button>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        const popoverTrigger = document.getElementById('passwordInfo');
        new bootstrap.Popover(popoverTrigger, {
            offset: [0, 25]  
        });
    });
    </script>

}
