@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de Conta";
    <link rel="stylesheet" href="~/css/fundo_container.css" asp-append-version="true"/>
}

<div class="vw-fundo"></div>


<div class="container vw-container">
    <h1>@ViewData["Title"]</h1>
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <div>
                <h4>Obrigado por te registares na Byte Hunt!</h4>
                <p>Enviámos-te um email para poderes confirmar a tua conta! Verifique a sua caixa de entrada!</p>
            </div>
            <p>
                Para Dev:
                <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
            </p>
        }
        else
        {
            <div>
                <h4>Obrigado por te registares na Byte Hunt!</h4>
                <p>Enviámos-te um email para poderes confirmar tua conta! Verifique sua caixa de entrada!</p>
            </div>
        }
    }
</div>


