@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Senha Redefinida!";
}

<h1>@ViewData["Title"]</h1>
<h4>Sua palavra-passe foi alterada com sucesso!</h4>
<h5><a asp-page="./Login">Clique aqui para se autenticar</a>.</h5>
