@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Palavra-Passe Alterada!";

    <link rel="stylesheet" href="~/css/fundo_container.css" asp-append-version="true"/>
}

<div class="vwfundo"></div>

<div class="container vw-container">
    <h1>@ViewData["Title"]</h1>
    <h4>Palavra-Passe foi alterada com sucesso!</h4>
    <h5><a asp-page="./Login">Clique aqui para entrar</a>.</h5>
</div>

